/* src/components/features/PortfolioLayout.css */

.portfolio-container {
    margin-top: 2.5rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
  